{% extends 'layout.html.twig' %}

{% block title %}confirmation{% endblock %}

{% block informationTitle %}
    Confirmation
{% endblock %}

{% block informationText %}
    Confirmation de votre réservation : retrouvez les informations importante de votre commande
{% endblock %}

{% block form %}

    <h3>Confirmation de réservation</h3>
    <p class="infoLouvreText">Votre réservation a bien effectué voici le votre numéro de réservation : <b>{{ order.orderToken|replace({'tok_': ''}) }}</b> <br/>
    Vous allez recevoir un email avec vos e-billet d'ici quelques minutes, vous pouvez imprimer vos billets depuis cette page ou simplement présenter votre mail à l'accueil du Louvre.
    </p>
    <h3>Votre billet</h3>

    <div class="listBillets" style="text-align: center">
        {% for ticket in order.tickets %}
            <div class="billetsEdites">
                <img class="logoLouvre" src="{{ asset('img/logo-louvre.jpg') }}" alt="logoLouvre">
                <p class="textSMBillets">www.louvre.fr</p>
                <p class="textLGBillets"><b>MUSÉE {{ order.duration|upper }}</b><br/>
                    <b>{{ order.visitDate|date('d/m/Y') }}  - {{ order.access}}</b></p>
                <p class="textSMBilletsLeft">{{ ticket.name }} {{ ticket.lastName }}<br/>{{ ticket.age|date('d/m/Y') }} ({{ ticket.age|age }} ans) - {{ ticket.country }}</p>
                <p class="textSMBilletsLeft">Tarif : {{ ticket.rate }} -<b> {{ ticket.price }}€</b></p>
                <img class="codeBarre" src="{{ asset('img/code_barre.png') }}" alt="codeBarre">
                <p class="textSMBillets">{{ ticket.tokenTicket }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}