{% extends 'layout.html.twig' %}

{% block title %}{{ 'appbundle.step.step.4'|trans }}{% endblock %}

{% block informationTitle %}
    {{ 'appbundle.step.4.pres.title'|trans }}
{% endblock %}

{% block informationText %}
    {{ 'appbundle.step.4.pres.step'|trans }}
{% endblock %}

{% block form %}

    <h3>{{ 'appbundle.step.4.text.information.title'|trans }}</h3>
    <p class="infoLouvreText">
        {{ 'appbundle.step.4.text.information'|trans({'%token%':  order.orderToken|replace({'tok_': ''}) })|raw|nl2br}}
    </p>
    <h3>{{ 'appbundle.step.4.tickets'|transchoice(order.nbTickets) }}</h3>

    <div class="listBillets" style="text-align: center">
        {% for ticket in order.tickets %}
            <div class="billetsEdites">
                <img class="logoLouvre" src="{{ asset('img/logo-louvre.jpg') }}" alt="logoLouvre">
                <p class="textSMBillets">www.louvre.fr</p>
                <p class="textLGBillets"><b>MUSÉE {{ order.duration|upper }}</b><br/>
                    <b>{{ order.visitDate|date('d/m/Y') }}  - {{ order.access}}</b></p>
                <p class="textSMBilletsLeft">{{ ticket.name }} {{ ticket.lastName }}<br/>{{ ticket.age|date('d/m/Y') }} ({{ ticket.age|age }} ans) - {{ ticket.country }}</p>
                <p class="textSMBilletsLeft">Tarif : {{ ticket.rate }} -<b> {{ ticket.price }}€</b></p>
                <img class="codeBarre" src="{{ asset('img/code_barre.png') }}" alt="codeBarre">
                <p class="textSMBillets">{{ ticket.tokenTicket }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

