{% extends 'layout.html.twig' %}
{% block title %}Coordonnées{% endblock %}
{% block body %}
    <h3>Page des coordonnées</h3>


    <p>
        Vous prevoyez de visiter le musée du Louvre le
        pour la {{ app.session.get('duration') }} avec {{ app.session.get('nbTickets') }} personnes.
        <a href="{{ path('homepage') }}">Modifier</a>
    </p>

    <p>Chaque billet est nominatif, afin definir le tarif de chaque personne, veuillez renseigner les informations suivantes :</p>

    <h3>Coordonnées</h3>

    {{dump(app.session.get('CommandeLouvre'))}}

    {# Début du formulaire #}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Erreur du formulaire #}
    {{ form_errors(form) }}

    {% for ticket in form.tickets %}
        <p>Billet n°{{ loop.index }}</p>
        {{ include('ticket/form/secondstep.html.twig') }}
    {% endfor %}

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}

{% endblock %}

