{% extends 'layout.html.twig' %}
{% block title %}Récapitulatif{% endblock %}
{% block body %}
    <h3>Page récapitulative</h3>
    <p>
        Vous prevoyez de visiter le musée du Louvre le
        pour la avec  personnes.
        <a href="{{ path('homepage') }}">Modifier</a>
    </p>
    {{ dump(app.session.get('CommandeLouvre')) }}
    <h3>Billet </h3>
    <p><strong>Billet n°1</strong></p>
    <div class="well">
        {% for ticket in app.session.get('CommandeLouvre').tickets %}
            <p>Nom : {{ ticket.name }}</p>
            <p>Prénom : {{ ticket.lastName }}</p>
            <p>age : {{ ticket.age|age }}</p>
            <p>Tarif : {{ ticket.rate }}</p>
            <p>Prix : {{ ticket.price }} €</p>
        {% endfor %}
    </div>


{% endblock %}