{% extends 'layout.html.twig' %}

{% block title %}{{ 'appbundle.step.step.2'|trans }}{% endblock %}

{% block informationTitle %}
    {{ 'appbundle.step.2.pres.title'|trans }}
{% endblock %}

{% block informationText %}
    {{ 'appbundle.step.2.pres.step'|trans }}
{% endblock %}


{% block form %}

        <div class="secondStepInfo" >
            <h3 class="titleForm">{{ 'appbundle.step.2.text.information.first.title'|trans }}</h3>
            <p class="infoLouvreText">
                {{ 'appbundle.step.2.text.information.first'|trans({
                    '%date%': app.session.get('CommandeLouvre').visitDate|date('d/m/Y'),
                    '%duration%': app.session.get('CommandeLouvre').duration,
                    '%access%': app.session.get('CommandeLouvre').access }
                )|raw}}
            </p>

            <h3 class="titleForm">{{ 'appbundle.step.2.text.information.second.title'|trans }}</h3>
            <p class="infoLouvreText">{{ 'appbundle.step.2.text.information.second'|trans}}
        </div>

        {{ include(':ticket/form:secondstepform.html.twig') }}

{% endblock %}
