<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Musée du Louvre - {% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

            <!-- DatePicker -->
            {#<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">#}
            <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">

            <!-- StepWizard -->
            <link href="{{asset('stepwizard/progress-wizard.min.css')}}" rel="stylesheet">

            <!-- Theme CSS -->
            <link href="{{asset('css/theme.css')}}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{asset('css/custom.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('css/table.css')}}" rel="stylesheet" type="text/css">

            <!-- Custom Fonts -->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html">
                    LOUVRE</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Informations</a>
                    </li>
                    <li>
                        <a href="#">Visites</a>
                    </li>
                    <li>
                        <a href="#">Expositions</a>
                    </li>
                    <li>
                        <a href="#">Oeuvres</a>
                    </li>
                    <li>
                        <a href="#">Arts</a>
                    </li>
                    <li>
                        <a href="#">Billetterie</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro" id="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="#">
                            <h1 class="brand-heading">Billetterie</h1>
                            <p class="intro-text">
                                Achetez vos billets
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Billetterie Section -->
    <section id="page-sample">
        <div class="container content-section text-left">
            <div class="row" id="stepblock">

                <div class="row">
                    <ul class="progress-indicator">
                        {# Step 1 #}
                        {% if app.session.get('step_1') == "check" or app.session.get('step_3') == "check" %}
                            <li class="completed"><div class="stepCompleted"><a href="{{ path('homepage')}}"><span class="bubble" id="bubble"></span><i class="fa fa-calendar" aria-hidden="true"></i> Votre visite</a></div></li>
                        {% else %}
                            <li class="warning"><div class="stepWarning"><a href="{{ path('homepage')}}"><span class="bubble" id="bubble"></span><i class="fa fa-calendar" aria-hidden="true"></i> Votre visite</a></div></li>
                        {% endif %}

                        {# Step 2 #}
                        {% if app.session.get('step_1') == "check" and app.session.get('step_2') == "uncheck"  %}
                            <li class="warning"><div class="stepWarning"><a href="{{ path('coordonnees')}}"><span class="bubble" id="bubble"></span><i class="fa fa-ticket" aria-hidden="true"></i> Vos billets</a></div></li>
                        {% elseif app.session.get('step_2') == "check" or app.session.get('step_3') == "check" %}
                            <li class="completed"><div class="stepCompleted"><a href="{{ path('coordonnees')}}"><span class="bubble" id="bubble"></span><i class="fa fa-ticket" aria-hidden="true"></i> Vos billets</a></div></li>
                        {% else %}
                            <li><div class="stepDisabled"><span class="bubble"></span><i class="fa fa-ticket" aria-hidden="true"></i> Vos billets</div></li>
                        {% endif %}

                        {# Step 3 #}
                        {% if app.session.get('step_2') == "check" and app.session.get('step_3') == "uncheck" %}
                            <li class="warning"><div class="stepWarning"><a href="{{ path('recapitulatif')}}"><span class="bubble" id="bubble"></span><i class="fa fa-list" aria-hidden="true"></i> Récapitulatif & paiement</a></div></li>
                        {% elseif app.session.get('step_3') == "check" %}
                            <li class="completed"><div class="stepCompleted"><a href="{{ path('recapitulatif')}}"><span class="bubble" id="bubble"></span><i class="fa fa-list" aria-hidden="true"></i> Récapitulatif & paiement</a></div></li>
                        {% else %}
                            <li><div class="stepDisabled"><span class="bubble"></span><i class="fa fa-list" aria-hidden="true"></i> Récapitulatif & paiement</div></li>
                        {% endif %}

                        {# Step 4 #}
                        {% if app.session.get('step_3') == "check" %}
                            <li class="completed"><div class="stepCompleted"><a href="{{ path('confirmation')}}"><span class="bubble" id="bubble"></span><i class="fa fa-check-square-o" aria-hidden="true"></i> Confirmation</a></div></li>
                        {% else %}
                            <li><div class="stepDisabled"><span class="bubble"></span><i class="fa fa-check-square-o" aria-hidden="true"></i> Confirmation</div></li>
                        {% endif %}

                    </ul>
                </div>
                <hr/>
                <div class="stepInfo" style="text-align: center">
                    <h2 class="text-center">
                        {% block informationTitle %}
                        {% endblock %}
                    </h2>
                    <p class="informationText">
                        {% block informationText %}
                        {% endblock %}
                    </p>
                </div>
                <hr/>
            </div>

            {% block form %}

            {% endblock %}
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p class="credits">
                Copyright &copy; Adrien Desmet - 2017<br/>
                "Aries" Template by WowThemes.net modifié par <a href="adriendesmet.com">Adrien Desmet</a>
            </p>
        </div>
    </footer>

    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{asset('js/jquery.js')}}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- Plugin JavaScript -->
        <script src="{{ asset('js/jquery.easing.min.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{asset('js/theme.js')}}"></script>

        <!-- FlatPickr-->
        <script src="https://unpkg.com/flatpickr"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>

        <!-- Custom -->
        <script src="{{asset('js/custom.js')}}"></script>
    {% endblock %}
    </body>
</html>