
    <div class="form-group">
        {# Génération du label #}
        {{ form_label(form.tickets.vars.prototype.name, "Prénom : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}


        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.tickets.vars.prototype.name) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.tickets.vars.prototype.name) }}

        </div>
    </div>

    <div class="form-group">
        {# Génération du label #}
        {{ form_label(form.tickets.vars.prototype.lastName, "Nom : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}


        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.tickets.vars.prototype.lastName) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.tickets.vars.prototype.lastName) }}

        </div>
    </div>

    <div class="form-group">
        {# Génération du label #}
        {{ form_label(form.tickets.vars.prototype.age, "Date de naissance : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}


        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.tickets.vars.prototype.age) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.tickets.vars.prototype.age) }}

        </div>
    </div>

    <div class="form-group">
        {# Génération du label #}
        {{ form_label(form.tickets.vars.prototype.country, "Pays : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}


        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.tickets.vars.prototype.country) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.tickets.vars.prototype.country) }}

        </div>
    </div>

    <div class="form-group">
        {# Génération du label #}
        {{ form_label(form.tickets.vars.prototype.rate, "Tarif réduit : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}


        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.tickets.vars.prototype.rate) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.tickets.vars.prototype.rate) }}
            {{ form_widget(form.tickets.vars.prototype.duration) }}
            {{ form_widget(form.tickets.vars.prototype.visitDate) }}
        </div>
    </div>

