<h3>Formulaire</h3>

<div class="well">
    {# Début du formulaire #}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Erreur du formulaire #}
    {{ form_errors(form) }}

    <div class="form-group">

        {# Génération du label #}
        {{ form_label(form.email.first, "Email : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.email.first) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.email.first) }}
        </div>
    </div>

    <div class="form-group">

        {# Génération du label #}
        {{ form_label(form.email.second, "Répétez votre email : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.email.second) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.email.second) }}
        </div>
    </div>

    <div class="form-group">
        {# Génération du label #}
        {{ form_label(form.visitDate, "Date de la visite : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.visitDate) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.visitDate) }}
            <div class="calendar"></div>

        </div>
    </div>

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nbTickets) }}
    <div class="form-group">
            {# Génération du label #}
            {{ form_label(form.nbTickets, "Nombre de billet : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.nbTickets) }}
            </div>
        </div>

    <div class="form-group">
        {# Génération du label #}
        {{ form_label(form.duration, "Durée de la visite : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.duration) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.duration) }}

        </div>
    </div>


    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}

</div>