
{# Début du formulaire #}
{{ form_start(form) }}

{# Erreur du formulaire #}

{{ form_errors(form) }}

<div class="containerFirstStepForm">

    <div class="firstStepForm">
        <h3 class="titleForm">Votre email</h3>
        {{ form_errors(form.email.first) }}
        {{ form_errors(form.email.second) }}
        {{ form_widget(form.email.first, { 'attr' : {'placeholder' : 'appbundle.step.1.form.placeholder.email.first'|trans }}) }}<br/>
        {{ form_widget(form.email.second, { 'attr' : {'placeholder' : 'appbundle.step.1.form.placeholder.email.second'|trans}}) }}

        <h3 class="titleForm">Nombre de billets</h3>
        {{ form_errors(form.nbTickets) }}
        {{ form_widget(form.nbTickets) }}
    </div>

    <div class="firstStepForm">
        <h3 class="titleForm">Date de la visite</h3>
        {{ form_errors(form.visitDate) }}
        {{ form_widget(form.visitDate, { 'attr' : { 'class' : 'datepicker hiddenInput' }}) }}<br/>
        {{ form_errors(form.duration) }}
        {{ form_widget(form.duration) }}
    </div>

    <div class="infoLouvre">
        <h3 class="titleForm">Informations</h3>
        <p class="infoLouvreText">{{ 'appbundle.step.1.text.information.first'|trans }}</p>
        <p class="infoLouvreText" >{{ 'appbundle.step.1.text.information.second'|trans }}</p>
    </div>

</div>
<div class="suivant">
    {{ form_widget(form.save, {'attr' : {'class': 'btnSuivant'}, 'label' : 'appbundle.form.generic.next'|trans }) }}
</div>

{{ form_end(form) }}