
{# Début du formulaire #}
{{ form_start(form) }}

{# Erreur du formulaire #}
{{ form_errors(form) }}

<div class="containerFirstStepForm">

    <div class="firstStepForm">
        <h3 class="titleForm">Votre email</h3>
        {{ form_widget(form.email.first, { 'attr' : {'placeholder' : 'mail@exemple.com'}}) }}<br/>
        {{ form_widget(form.email.second, { 'attr' : {'placeholder' : 'Répétez votre email'}}) }}

        <h3 class="titleForm">Nombre de billets</h3>
        {{ form_widget(form.nbTickets) }}
    </div>

    <div class="firstStepForm">
        <h3 class="titleForm">Date de la visite</h3>
        {{ form_widget(form.visitDate, { 'attr' : { 'class' : 'datepicker hiddenInput' }}) }}<br/>
        {{ form_widget(form.duration) }}
    </div>

    <div class="infoLouvre">
        <h3 class="titleForm">Informations</h3>
        <p class="infoLouvreText">Le musée du Louvre est ouvert tous les jours, sauf les mardis et les 1 er novembre, 1 er mai et 25 décembre,
            de 9h à 18h, jusqu'à 21h45 les mercredis et vendredis, à l’exception des jours fériés.
            La fermeture des salles débute à 17h30 et à 21h30 les mercredis et vendredis.</p>
        <p class="infoLouvreText" >En raison de forte affluence les dimanches et les jours fériés, il est impossible de reserver en ligne.
            Les ventes se feront au guichet.</p>
    </div>

</div>
<div class="suivant">
    {{ form_widget(form.save, {'attr' : {'class': 'btnSuivant'}, 'label' : 'Suivant'}) }}
</div>

{{ form_end(form) }}