{{ form_start(form) }}

        {% for ticket in form.tickets %}
            <div class="containerSecondStepForm" id="secondStep">
                <div class="secondStepForm" id="secondStepForm">
                    <h3 class="titleForm">Billet n°{{ loop.index }}</h3>
                    {{ form_errors(ticket.lastName) }}
                    {{ form_errors(ticket.name) }}
                    {{ form_errors(ticket.age) }}
                    {{ form_errors(ticket.country) }}
                    {{ form_errors(ticket.reduced_price) }}
                    {{ form_widget(ticket.lastName, { 'attr' : {'placeholder' : 'Nom', 'class' : 'textForm'}}) }}
                    {{ form_widget(ticket.name, { 'attr' : {'placeholder' : 'Prénom', 'class' : 'textForm'}}) }}
                    {{ form_widget(ticket.age, { 'attr' : {'placeholder' : 'Date de naissance (jj/mm/aaaa)', 'class' : 'textForm'}}) }}
                    {{ form_widget(ticket.country) }}
                    {{ form_widget(ticket.reduced_price) }}
                    {{ form_label(ticket.reduced_price) }}
                </div>
            </div>


        {% endfor %}
<div class="stepNav">
    <div class="precedent">
        <a href="{{ path('homepage') }}"><button type="button" class="btnPrecedent">Précédent</button></a>
    </div>
    <div class="suivant">
        {{ form_widget(form.save, {'attr' : {'class': 'btnSuivant'}, 'label' : 'Suivant'}) }}
    </div>
</div>

{{ form_end(form) }}